ROOT_URL=http://localhost:3000
DATABASE_NAME=shopoth_staging
DATABASE_USERNAME=shopoth
DATABASE_PASSWORD=shopoth@password
DATABASE_HOST=127.0.0.1
AWS_ACCESS_KEY_ID=AKIA2OHI2NN7FCP3CS4F
AWS_SECRET_ACCESS_KEY=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
S3_BUCKET_NAME=shopoth-staging
S3_REGION=ap-southeast-1
SSL_COMMERZ_SANDBOX_API_URL=https://sandbox.sslcommerz.com/
SSL_COMMERZ_LIVE_API_URL=https://sandbox.sslcommerz.com/
SSL_COMMERZ_SESSION_URL=https://sandbox.sslcommerz.com/gwprocess/v4/api.php
SSL_COMMERZ_ORDER_VALIDATION_URL=https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php
SSL_COMMERZ_IPN_URL=http://api.shopoth.net/shop/api/v1/payment/ipn
SSL_COMMERZ_SUCCESS_URL=http://shopoth.net/order-success
SSL_COMMERZ_FAIL_URL=http://shopoth.net/order-failure
SSL_COMMERZ_CANCEL_URL=http://shopoth.net/order-cancel
MOBIREACH_API_USER_NAME=agami
MOBIREACH_API_PASSWORD=shOpOth@2020
MOBIREACH_API_FROM=SHOPOTH.COM
MOBIREACH_API_URL=https://api.mobireach.com.bd/SendTextMessage
SSL_COMMERZ_STORE_ID=shopo5f62294896207
SSL_COMMERZ_STORE_PASSWORD=shopo5f62294896207@ssl
FCM_API_URL=https://fcm.googleapis.com/fcm/send
FCM_KEY=AAAAs7ZY7AM:APA91bHDVDj3HXwtONn6fJOb5UMKSRf5Fw8Ckn9w2qkNB4PpGlZ5STCw-aV8a_PDwI0N1enYHdvPAHsJLjd14aLIk3WY7x5KjSwHNaP5u2KAdJw4SwPNEfYKhpQB2SqZIEbeLhnzpi3W
IHELP_BD_URL=http://202.51.180.206:8081/agami/api/order_data.php
SECRET_KEY_BASE=ef4c9afc44b9ec7782b05cc080bf7538a0a6ce2349a6449886f5fd92db8db60d8b341b6655d6c7d325e6aef204af307a497558d68446127c9806f0a691074943
NAGAD_API_URL=http://sandbox.mynagad.com:10080/remote-payment-gateway-1.0
NAGAD_MERCHANT_ID=merchant
NAGAD_PRIVATE_KEY=private
NAGAD_PUBLIC_KEY=public
BKASH_USERNAME=username
BKASH_PASSWORD=password
BKASH_APP_KEY=app_key
BKASH_APP_SECRET=app_secret
MEMBER_WAREHOUSE=dhk-v2
REDIS_HOST=localhost
REDIS_PORT=6379
CHEWY_HOST=localhost:9200
