Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Metadata:
      AWS::CloudFormation::Authentication:
        S3AccessCred:
          type: "S3"
          roleName: "aws-elasticbeanstalk-ec2-role"
          buckets: "shopoth-config"

files:
  "/tmp/application.yml":
    mode: "000777"
    owner: root
    group: root
    source: https://shopoth-config.s3.ap-southeast-1.amazonaws.com/application.yml
    authentication: S3AccessCred
    
  "/tmp/puma.rb":
    mode: "000777"
    owner: root
    group: root
    source: https://shopoth-config.s3.ap-southeast-1.amazonaws.com/puma.rb
    authentication: S3AccessCred

container_commands:
  00_rbenv_vars:
    command: "mv /tmp/application.yml /var/app/staging/config/application.yml"
  01_puma_rb:
    command: "mv /tmp/puma.rb /var/app/staging/config/puma.rb"
  03_bundle_install:
    command: "cd /var/app/staging && bundle config --local deployment true && bundle config --local without development:test && bundle install"
  04_migrate:
    leader_only: true
    command: "cd /var/app/staging && RAILS_ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k RAILS_ENV) bundle exec rails db:migrate"