files:
  "/tmp/cron_jobs" :
    mode: "000777"
    owner: root
    group: root
    content: |
      0 0 * * * cd /var/app/current/ && RAILS_ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k RAILS_ENV) /opt/elasticbeanstalk/.rbenv/shims/bundle exec /opt/elasticbeanstalk/.rbenv/shims/rake route:app_notification >> /var/app/current/log/cron_log.log 2>&1
      0 0 * * * cd /var/app/current/ && RAILS_ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k RAILS_ENV) /opt/elasticbeanstalk/.rbenv/shims/bundle exec /opt/elasticbeanstalk/.rbenv/shims/rake rider:app_notification >> /var/app/current/log/cron_log.log 2>&1
      5 0 * * * cd /var/app/current/ && RAILS_ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k RAILS_ENV) /opt/elasticbeanstalk/.rbenv/shims/bundle exec /opt/elasticbeanstalk/.rbenv/shims/rake customer_order:expire_extension >> /var/app/current/log/cron_log.log 2>&1
      0 2 * * * cd /var/app/current/ && RAILS_ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k RAILS_ENV) /opt/elasticbeanstalk/.rbenv/shims/bundle exec /opt/elasticbeanstalk/.rbenv/shims/rake recommendations:recalculate >> /var/app/current/log/cron_log.log 2>&1
      10 18 * * * cd /var/app/current/ && RAILS_ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k RAILS_ENV) /opt/elasticbeanstalk/.rbenv/shims/bundle exec /opt/elasticbeanstalk/.rbenv/shims/rake ra_coupon:create >> /var/app/current/log/cron_log.log 2>&1
      0 20 * * * cd /var/app/current/ && RAILS_ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k RAILS_ENV) /opt/elasticbeanstalk/.rbenv/shims/bundle exec /opt/elasticbeanstalk/.rbenv/shims/rake cancel_orders:online_payments_pending >> /var/app/current/log/cron_log.log 2>&1
      10 18 8 * * cd /var/app/current/ && RAILS_ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k RAILS_ENV) /opt/elasticbeanstalk/.rbenv/shims/bundle exec /opt/elasticbeanstalk/.rbenv/shims/rake month_wise_payment_history:create >> /var/app/current/log/cron_log.log 2>&1
      0 7 * * * cd /var/app/current/ && RAILS_ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k RAILS_ENV) /opt/elasticbeanstalk/.rbenv/shims/bundle exec /opt/elasticbeanstalk/.rbenv/shims/rake sitemap:refresh >> /var/app/current/log/cron_log.log 2>&1
    encoding: plain

container_commands:
  01_delete_cron_jobs:
    command: "crontab -r -u root || exit 0"
  02_add_cron_jobs:
    command: "crontab /tmp/cron_jobs -u root"