# files:
#   "/tmp/99_update_cron.template":
#     mode: "000755"
#     owner: root
#     group: root
#     content: |
#       #!/usr/bin/env bash
#       # Using similar syntax as the appdeploy pre hooks that is managed by AWS
#       set -xe

#       EB_SUPPORT_DIR="/opt/elasticbeanstalk/support"
#       EB_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config platformconfig -k AppDeployDir)

#       cd $EB_DEPLOY_DIR
#       sudo su ec2-user -c "RAIL_ENV=pre_prod /opt/elasticbeanstalk/.rbenv/shims/bundle exec whenever --update-crontab"
#       sudo su ec2-user -c "crontab -l"

# container_commands:
#   01_remove_cron:
#     command: "rm -f /tmp/99_update_cron.template.bak"
#   02_enable_cron:
#     command: "mv /tmp/99_update_cron.template /tmp/99_update_cron.sh"
#   03_run_cron:
#     command: "cd /tmp && ./99_update_cron.sh"